
    <form action="/detallePeli/delete/<%=Movies.id%>" method="POST">
        <button class="listHeader" type="submit">DELETE</button>
    </form>
    <button class="listHeader"><a href="/editarPeliculas/edit/<%=Movies.id%>">EDITAR</a></button>
    <br>
    <button class="pb-2"><a href="/crudPeliculas">Crear pelicula</a></button>