
    <form action="/detallePeli/delete/<%=Movie.id%>" method="POST">
        <button class="listHeader" type="submit">DELETE</button>
    </form>
    <a href="/editarPeliculas/edit/<%=Movie.id%>">EDITAR</a>
    <br>
    <a href="/crudPeliculas">Crear pelicula</a>