<% if (locals.user) { %>
    <nav class="menu">
        <!-- <ul class="">
    
            <li class=""><button type="button" class=""><a href="/userProfile"> Hola <%=locals.user.nombre%>!</a></button>
            </li>
        </ul> -->
        <div class="btn-group">
        <form action="/login/logout" method="POST" class="p-2">
            <button  type="submit">
                Cerrar sesión <i class="fas fa-sign-in-alt"></i>
            </button>
        
        </form>
        <div class="p-2">
            <button type="button">Hola <%=locals.user.nombre%>!</button>
        </div>
        </div>
        <% } else {%>
        <nav class="menu">
            <div class="btn-group">
                <div class="p-2">
                    <a href="/login" class="text-decoration-none">Ingresá!</a>
                </div>
            </div>
    
    
            <% }%>
        </nav>