<!DOCTYPE html>
<html lang="en">
<body>
    <div class="encierro"> 
        <div class="notFoundBox">
            <div class = "not-found">404 Not Found</div>
        </div>
    </div>    

</body>

</html>