<!DOCTYPE html>
<html class="html">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilos.css">
        <title>Registro para Administradores</title>

    </head>
<body class= "body1">
    <div class="container-fluid">
        <form action="/register" method="POST">
        <div class="register">
            <h1 class="regist">Crear Cuenta</h1>
            
                <label for="Email" class="form-label"></label>
                <input type="text" id="email" name="email" placeholder="Ej: @gmail.com" class="form-input" value="">
                <p class="errors">
                    <% if (typeof errors != 'undefined' ) { %>
                            <% if (errors.email) { %>
                            <%= errors.email.msg %>
                        <% } %>
                    <% } %>
                </p>
            
                <label for="password" class="form-label"></label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-input" value="">
                <p class="errors">
                    <% if (typeof errors != 'undefined' ) { %>
                        <%=  errors.password ? errors.password.msg : '' %>
                    <% } %>
                </p>
            
                <label for="password" class="form-label"></label>
                <input type="password" id="password" name="retypePassword" placeholder="Repetir contraseña" class="form-input" Value="">
            

                <br>

            <input type="submit" id="CrearCuenta" name="" placeholder="" class="form-Cuenta" value="CREAR CUENTA">
            
            </article>
                <br>
                <article class="pieRegistro">
                <p class="pieRegistro"><a class="pieRegistro" href ='login'>Si YA TENES CUENTA HACE CLICK ACÁ</a></p>
             </article>
            </div>
        </form>
    </div>
</body>
</html>
