<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Header -->
    <div class="encierro">
        <div class="loginContainer row no-wrap">
            <main class="login-publi row no-wrap">
                <div class="loginCompleto">


                    <div class="form-container">
                        <div class="loginTitulo">REGISTER</div>
                        <form class="loginForm" action="/register" method="POST" autocomplete="off">

                            <div class="field-group">
                                <div class="email">
                                    <input class="emailInput" type="email" id="email" name="email" placeholder="Email"
                                        autocomplete="off" value="" required>
                                    <p class="error">
                                        <%= typeof errors == 'undefined' ? null : errors.email ? errors.email.msg : null %>
                                    </p>
                                </div>
                                <div class="password">
                                    <input class="passwordInput" type="password" id="passsword" name="password"
                                        autocomplete="off" placeholder="Contraseña" value="" required>
                                    <p class="error">
                                        <%= typeof errors == 'undefined' ? null : errors.password ? errors.password.msg : null %>
                                    </p>
                                </div>
                                <div class="password">
                                    <input class="passwordInput" type="password" id="retype" name="retype"
                                        placeholder="Repetir contraseña" value="">
                                    <p class="error" required>
                                        <%= typeof errors == 'undefined' ? null : errors.retype ? errors.retype.msg : null %>
                                    </p>

                                </div>

                                <button type="submit">Registrarse</button>
                            </div>
                        </form>

                    </div>

                </div>

            </main>
        </div>
    </div>



</body>

</html>